<!DOCTYPE html>
<html>
<head>
	<title>Task</title>
  	<meta charset="utf-8"/>
  	<link rel="stylesheet" href="styles.css">
</head>
<body class = "back">
	<div class = "center-div"> 
		<h1 align="center">Your time manager</h1>
  		<h3>Your plans for future:</h3>
  		<a href="/23">23?</a>
  		<table class = "main-table">
		    <tr>
		    	<th>Date</th>
		    	<th>Time</th>
		    	<th>Task</th>
		    	<th>File</th>
		    </tr>
		</table>
	</div>	
</body>
<html>